{% extends 'infra/includes/base.html' %}
{% load static %}
{% block content %}

<div class="home-slider margin-bottom-0">

    <div data-background-image="{% static 'infra/assets/img/banner-3.jpg' %}" class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">

                        <!-- Slide Title -->
                        <div class="home-slider-desc">
                            <!--<div class="modern-pro-wrap">
                                <span class="property-type">For Sale</span>

                            </div>-->
                            <div class="home-slider-title">
                                <h3><a href="#">Welcome to <br>SSR GROUP</a></h3>
                                <span><i class="lni-map-marker"></i>Near By Cricket Styadium  </span>
                            </div>

                            <div class="slide-property-info">
                                <p>Noida is very good locality. it is very nice and beautiful locality. <br> All basic amenities like hospitals, schools, colleges and markets are available nearby.</p>
                            </div>
                            <!--<a href="#" class="read-more">View Details <i class="fa fa-angle-right"></i></a>-->

                        </div>
                        <!-- Slide Title / End -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-background-image="{% static 'infra/assets/img/banner-2.jpg' %}" class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">

                        <!-- Slide Title -->
                        <div class="home-slider-desc">
                            <!--<div class="modern-pro-wrap">
                                <span class="property-type">For Sale</span>

                            </div>-->
                            <div class="home-slider-title">
                                <h3><a href="#">Welcome to <br>SSR GROUP</a></h3>
                                <span><i class="lni-map-marker"></i>Near By Formula 1 Racing Track  </span>
                            </div>

                            <div class="slide-property-info">
                                <p>Greater Noida is very good locality. it is very nice and beautiful locality.<br> All basic amenities like hospitals, schools, colleges and markets are available nearby.</p>
                            </div>
                            <!--<a href="#" class="read-more">View Details <i class="fa fa-angle-right"></i></a>-->

                        </div>
                        <!-- Slide Title / End -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slide -->
    <div data-background-image="{% static 'infra/assets/img/banner-1.jpg' %}" class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">

                        <!-- Slide Title -->
                        <div class="home-slider-desc">
                            <!--<div class="modern-pro-wrap">
                                <span class="property-type">For Sale</span>

                            </div>-->
                            <div class="home-slider-title">
                                <h3><a href="#">Welcome to <br>SSR GROUP</a></h3>
                                <span><i class="lni-map-marker"></i>Near By Yamuna Expressway  </span>
                            </div>

                            <div class="slide-property-info">
                                <p>Yamuna Expressway is very good locality. it is very nice and beautiful locality.<br> All basic amenities like hospitals, schools, colleges and markets are available nearby.</p>
                            </div>
                            <!--<a href="#" class="read-more">View Details <i class="fa fa-angle-right"></i></a>-->

                        </div>
                        <!-- Slide Title / End -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slide -->
    <!-- Slide -->
    <!-- Slide -->
    <div data-background-image="{% static 'infra/assets/img/banner-4.jpg' %}" class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">

                        <!-- Slide Title -->
                        <div class="home-slider-desc">
                            <!--<div class="modern-pro-wrap">
                                <span class="property-type">For Sale</span>

                            </div>-->
                            <div class="home-slider-title">
                                <h3><a href="#">Welcome to <br>SSR GROUP</a></h3>
                                <span><i class="lni-map-marker"></i>Near By Film City  </span>
                            </div>

                            <div class="slide-property-info">
                                <p>Sector 21 Greater Noida is very good locality. it is very nice and beautiful locality.<br> All basic amenities like hospitals, schools, colleges and markets are available nearby.</p>
                            </div>
                            <!--<a href="#" class="read-more">View Details <i class="fa fa-angle-right"></i></a>-->

                        </div>
                        <!-- Slide Title / End -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-background-image="{% static 'infra/assets/img/banner-5.jpg' %}" class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">

                        <!-- Slide Title -->
                        <div class="home-slider-desc">
                            <!--<div class="modern-pro-wrap">
                                <span class="property-type">For Sale</span>

                            </div>-->
                            <div class="home-slider-title">
                                <h3><a href="#">Welcome to <br>SSR GROUP</a></h3>
                                <span><i class="lni-map-marker"></i>Near By International Airport  </span>
                            </div>

                            <div class="slide-property-info">
                                <p>Noida is very good locality. it is very nice and beautiful locality.<br> All basic amenities like hospitals, schools, colleges and markets are available nearby.</p>
                            </div>
                            <!--<a href="#" class="read-more">View Details <i class="fa fa-angle-right"></i></a>-->

                        </div>
                        <!-- Slide Title / End -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-background-image="{% static 'infra/assets/img/banner-6.jpg' %}" class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">

                        <!-- Slide Title -->
                        <div class="home-slider-desc">
                            <!--<div class="modern-pro-wrap">
                                <span class="property-type">For Sale</span>

                            </div>-->
                            <div class="home-slider-title">
                                <h3><a href="#">Welcome to <br>SSR GROUP</a></h3>
                                <span><i class="lni-map-marker"></i>Near By Metro Station</span>
                            </div>

                            <div class="slide-property-info">
                                <p>Noida is very good locality. it is very nice and beautiful locality.<br> All basic amenities like hospitals, schools, colleges and markets are available nearby.</p>
                            </div>
                            <!--<a href="#" class="read-more">View Details <i class="fa fa-angle-right"></i></a>-->

                        </div>
                        <!-- Slide Title / End -->

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Slide Property Start ================================== -->

<div class="service-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-10">
                <div class="single-service-wrap">
                    <div class="thumb">
                        <img src="{% static 'infra/assets/img/sale-1.png' %}" alt="icon">
                    </div>
                    <div class="single-service-details">
                        <h4><a href="">Sell Property</a></h4>
                        <p>At SSR GROUP our main aim is to eliminate brokers from whole rental scene. In order to achieve that we verify each owner/tenant's account...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="single-service-wrap">
                    <div class="thumb">
                        <img src="{% static 'infra/assets/img/sale-2.png' %}" alt="icon">
                    </div>
                    <div class="single-service-details">
                        <h4><a href="">Daily Apartment</a></h4>
                        <p>SSR GROUP is a tech-enabled platform that provides easy access, transparency, and liquidity to a curated selection of rent yielding ... </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="single-service-wrap mb-0">
                    <div class="thumb">
                        <img src="{% static 'infra/assets/img/sale-3.png' %}" alt="icon">
                    </div>
                    <div class="single-service-details">
                        <h4><a href="">Our Aim</a></h4>
                        <p>Our aim is to make transparent property investments between buyer and seller and maintain high standards of honesty with the ....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sec-heading2 center  mb-3">
                    <div class="sec-left">
                        <h3>Find Location property for you.</h3>

                    </div>
                    <!--<div class="sec-right">
                        <a href="">View All<i class="ti-angle-double-right ml-2"></i></a>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sidebar-property-slide">

                    <!-- Single Property -->
                    <div class="single-items">
                        <div class="property_item classical-list">
                            <div class="image">
                                <a href="">
                                    <img src="{% static 'infra/assets/img/slide1.jpg' %}" alt="latest property" class="img-fluid">
                                </a>
                            </div>
                            <!--<div class="proerty_content">
                                <div class="proerty_text">
                                    <h3 class="captlize"><a href="">Residential land / Plot in  </a></h3>
                                </div>
                                <p class="property_add">Yamuna Expressway</p>

                            </div>-->
                        </div>
                    </div>

                    <div class="single-items">
                        <div class="property_item classical-list">
                            <div class="image">
                                <a href="">
                                    <img src="{% static 'infra/assets/img/slide2.jpg' %}" alt="latest property" class="img-fluid">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="single-items">
                        <div class="property_item classical-list">
                            <div class="image">
                                <a href="">
                                    <img src="{% static 'infra/assets/img/banner-1.jpg' %}" alt="latest property" class="img-fluid">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="single-items">
                        <div class="property_item classical-list">
                            <div class="image">
                                <a href="">
                                    <img src="{% static 'infra/assets/img/slide3.jpg' %}" alt="latest property" class="img-fluid">
                                </a>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Slide Property End ================================== -->
<!-- ============================ Slide Location Start ================================== -->
<section class="pt-0">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sec-heading2 center">
                    <div class="sec-left">
                        <h3>Find properties in these cities</h3>
                        <p>Find new & featured property for you.</p>
                    </div>
                    <div class="sec-right">
                        <a href="">View All<i class="ti-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="location-slide">

                    <!-- Single location -->
                    <div class="single-items">
                        <a href="l" class="img-wrap">
                            <div class="img-wrap-content visible">
                                <h4>Film  City Noida</h4>
                                <span>5.5 Kilometer</span>
                            </div>
                            <div class="img-wrap-background" style="background-image: url({% static 'infra/assets/img/city-1.jpg' %});"></div>
                        </a>
                    </div>

                    <!-- Single location -->
                    <div class="single-items">
                        <a href="l" class="img-wrap">
                            <div class="img-wrap-content visible">
                                <h4>Cricket Stadium</h4>
                                <span>3.5 Kilometer</span>
                            </div>
                            <div class="img-wrap-background" style="background-image: url({% static 'infra/assets/img/city-2.jpg' %});"></div>
                        </a>
                    </div>

                    <!-- Single location -->
                    <div class="single-items">
                        <a href="#" class="img-wrap">
                            <div class="img-wrap-content visible">
                                <h4>Yamuna Expressway</h4>
                                <span>1.5 Kilometer</span>
                            </div>
                            <div class="img-wrap-background" style="background-image: url({% static 'infra/assets/img/city-3.jpg' %});"></div>
                        </a>
                    </div>

                    <!-- Single location -->
                    <div class="single-items">
                        <a href="#" class="img-wrap">
                            <div class="img-wrap-content visible">
                                <h4>Buddh International Circuit</h4>
                                <span>2.5 Kilometer</span>
                            </div>
                            <div class="img-wrap-background" style="background-image: url({% static 'infra/assets/img/city-4.jpg' %});"></div>
                        </a>
                    </div>

                    <!-- Single location -->
                    <div class="single-items">
                        <a href="#" class="img-wrap">
                            <div class="img-wrap-content visible">
                                <h4>Film  City Noida</h4>
                                <span>5.5 Kilometer</span>
                            </div>
                            <div class="img-wrap-background" style="background-image: url({% static 'infra/assets/img/city-1.jpg' %});"></div>
                        </a>
                    </div>

                    <!-- Single location -->
                    <div class="single-items">
                        <a href="#" class="img-wrap">
                            <div class="img-wrap-content visible">
                                <h4>Yamuna Expressway</h4>
                                <span>1.5 Kilometer</span>
                            </div>
                            <div class="img-wrap-background" style="background-image: url({% static 'infra/assets/img/city-3.jpg' %});"></div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Slide Location End ================================== -->
<!-- ============================ Browse Place ================================== -->
<section class="image-cover" style="background:url({% static 'infra/assets/img/new-banner-3.jpg' %}) no-repeat;" data-overlay="3">
    <div class="ht-50"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-10">

            </div>
        </div>
    </div>
    <div class="ht-50"></div>
</section>

<section class="theme-bg call-to-act-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call-to-act">
                    <div class="call-to-act-head">
                        <h3>Want to Become a Real Estate Agent?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                </div>

            </div>
        </div>
    </div>
</section>





{% endblock content %}