{% comment %} <div class="main-footer ">
    <div class="card text-right ">
        
        <p class=""> Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2022</p>
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0
          </div>
    </div>
</div> {% endcomment %}

<footer class="footer">
  {% load static %}
  <div class="footer">
     <div class="header-content">
        <nav class="navbar navbar-expand">
           <div class="collapse navbar-collapse justify-content-between">
              <div class="header-left">
                 <div class="dashboard_bar">
                    <div class="search_bar dropdown">
                       <div class="dropdown-menu p-0 m-0">
                          <form>
                             <div class="input-group">
                              Copyright &copy; 2020 <span class="tm-text-primary">Business Oriented</span>
                              - designed by <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-link-primary">TemplateMo</a>
                             </div>
                          </form>
                       </div>
                    </div>
                 </div>
              </div>
              <ul class="navbar-nav header-right">
                 <li class="nav-item dropdown notification_dropdown">
                  <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin fa-2x tm-social-icon"></i>
                </a>
                 <li class="nav-item dropdown notification_dropdown">
                  <a rel="nofollow" target="_blank" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook fa-2x tm-social-icon"></i>
                </a>
                 </li>
                 <li class="nav-item dropdown notification_dropdown">
                  <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter fa-2x tm-social-icon"></i>
                </a>
                <li class="card float-sm-right d-sm-inline-block">
                  <b>Version</b> 1.0
                
                </a>
                    
                 </li>
                 
              </ul>
           </div>
        </nav>
     </div>
  </div>
</footer>