{% extends "base1.html" %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Block Associate Report</a></li>
            </ol>
        </div>
                   
                    </div>
                    <div class="mb-3 row mx-4">
                        <label class="col-sm-2 col-form-label"><h4>Enter  User ID :</h4></label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Enter user ID" >
                        </div>    
                       
                    <div class="col-xl-2 col-xxl-4 col-md-8 mb-3">
                        <button type="submit" class="btn btn-primary">Show</button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    {% endblock %}