{% extends "base1.html" %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Delete  Plot Installment</a></li>
            </ol>
        </div>
                   
                    </div>
                    <div class="mb-2 row mx-3">
                        <label class="col-sm-2 col-form-label"><h4>Enter Plot No :</h4></label>
                        <div class="col-sm-3 ">
                            <input type="text" class="form-control" placeholder="Enter Plot No." >
                        </div>    
                       
                    <div class="col-xl-3 col-xxl-6 col-md-8 mb-3">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    {% endblock %}