{% extends "base.html" %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">User KYC</a></li>
            </ol>
        </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">KYC</h4>
                    </div>
                    {% include 'includes/messages.html' %}
                    
                    <div class="card-body">
                        <form action="{% url 'update_kyc' %}" enctype="multipart/form-data" method = "POST">
                            {% csrf_token %}
                        <div class="form-material">
                            <div class="cod-md-12 mb-3">
                                <label class="form-label">User ID</label>
                                <select class="form-select" aria-label="Default select example" name="cust_id", required>
                                    
                                    <option selected> ---Select---</option>
                                    {% for i in cust_id %}
                                    <option value="{{i.customer_id}}">{{i.customer_id}}</option>
                                    {% endfor %}                                 
                                    
                                </select>
                            </div>
                            <div class="cod-md-12 mb-3">
                                <label class="form-label">Account Name</label>
                                <input class="form-control" id="timepicker" placeholder="Enter here" name="accountname" value="{% for i in kyc %}{{i.accountname}}{% endfor %}", required  >
                            </div>
                            <div class="cod-md-12 mb-3">
                                <label class="form-label">idddddd Name</label>
                                <input type="text" class="form-control" name = "kyc_id" value = "{% for i  in kyc  %} {{i.id}}{% endfor %}"  >
                            </div>
                            <div class="cod-md-12 mb-3">
                                <label class="form-label">Account No</label>
                                <input class="form-control" id="timepicker" placeholder="Enter here" name="accountno", required value="{% for i in kyc %}{{i.accountno}}{% endfor %}" >
                            </div>
                            <div class="cod-md-12 mb-3">
                                <label class="form-label">IFSC Code</label>
                                <input class="form-control" id="timepicker" placeholder="Enter here" name="IFSCno", required value="{% for i in kyc %}{{i.IFSCno}}{% endfor %}" >
                            </div>
                            <div class="cod-md-12 mb-3">
                                <label class="form-label">Pancard No</label>
                                <input class="form-control" id="timepicker" placeholder="Enter here" name="Pancardno", required value="{% for i in kyc  %}{{i.Pancardno}}{% endfor %}" >
                            </div>
                           
                            <div class="col-xl-3 col-xxl-6 col-md-6">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</div>
    {% endblock %}