<!DOCTYPE html>
<style>
h1 {text-align: center;}
</style>
<html>
<body>

<h1><strong><centre>BAYANA/BOOKING AGREEMENT</centre></strong></h1>
<p style="text-align: center;">This bayana/booking agreement is made and execute at Noida</p>
{% comment %} <p style="text-align: center; text-decoration: underline;"><strong>Between </strong></p> {% endcomment %}
<p style="text-align: center;">Shree Shayam Radhika  Home  Zone Pvt Ltd.  Add- office No 110, First floor , Near Sbi Bank  Metro Station  Sector – 59, Gali No. 2 Sector – 66  Mamura, Noida , Uttar Pradesh 201301. </p>
<div><label class="form-label">1.<strong> I</strong></label>
<input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.name }} " readonly>
<label class="form-label"><strong>S/o,D/o,W/o</strong></label>
<input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.father_name }} " readonly>
{% comment %} <label class="form-label"><strong>Address</strong></label>
<input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.plot_number }} " readonly> {% endcomment %}
<label class="form-label">Whereas the expression of the first party and the second party/applicant shall mean and include their heirs, successors, executors and assigns etc. of the respective parties.Terms and conditions for bayana/Booking/Joining.</label></div>
{% comment %} <p style="text-align: center; text-decoration: underline; padding: 10px; border: 2px solid ;">Agg Slip</p> {% endcomment %}
<p style="text-align: justify;;">That project is being executed by <strong>Shree Shayam Radhika  Home  Zone Pvt Ltd.  Add- office No 110, First floor , Near Sbi Bank  Metro Station  Sector – 59, Gali No. 2 Sector – 66  Mamura, Noida , Uttar Pradesh 201301.</strong> </p>
<div><label class="form-label">2. Plot No.</label>
<input type= "text" style=" margin-bottom: 10px;margin-left: 200px;" class="form-control" id="plotno" name="plot_no" value="{{ plot_no.plot_number }} " readonly></div>
<div><label class="form-label">3. Booking Date </label>
<input type= "text" style=" margin-bottom: 10px;margin-left: 164px;" class="form-control" id="plotno" name="plot_no" value="{{ plot_no.joinig_date }} " readonly></div>
<div><label class="form-label">4. Measuring   sqyd Yard of land.</label>
<input type= "text" style=" margin-bottom: 10px;margin-left: 64px;"class="form-control" id="plotno" name="plot_no" value="{{ plot_no.plot_size }} " readonly></div>
<div><label class="form-label">5. Total Product Value Rs. </label>
<input type= "text"style=" margin-bottom: 10px;margin-left: 102px;" class="form-control" id="plotno" name="plot_no" value="{{ plot_no.Payable_amout }} " readonly></div>
<div><label class="form-label">6. Booking Amount Rs.</label>
<input type= "text"style=" margin-bottom: 10px;margin-left: 117px;" class="form-control" id="plotno" name="plot_no" value="{{ plot_no.payment_amount }} " readonly><div>
<p style="text-align: justify;;">7.	Prime Location Charge(P.L.C.)will be pay 10% of Basic amount of product if applicable.</p>
<p style="text-align: justify;;">8.	<strong>Cheque</strong> Bounce(paid against booking amount) the agreement will be cancelled.</p>
<p style="text-align: justify;;">9.	The applicant/applicants have applied for allotment of a unit as full knowledge and subject to all laws/notification and rules applicable to this area in general which has been explained by the Company and understood by me/us.</p>
<p style="text-align: justify;;">10.	company in the said land on which the unit is located and have understood all limitations and That applicant/applicants are fully satisfied about the interest and the title of the company in the said land on which the unit is located and have understood all limitations and   obligating in respect thereof. And there will be no more investigations of objection by applicant in this respect.</p>
<p style="text-align: justify;;">11.	That applicant/applicants have accepted the plans "designs, specifications which are tentative and are kept at the Company’s office and agree that company may effect such variations, additions, alterations, deletion and modifications therein as it any, in its sole discretion deem appropriate and fit or as may be dine by any competent authority and applicant/applicants hereby gives my/our consent to such variation/addition/alteration/deletion and modification.</p>
<p style="text-align: justify;;">12.	Applicant/Applicants agree that if they will not able to continue three installment,  plot will cancelled and submitted amount by them will not refundable in any case.</p>
<div><label class="form-label">13. Applicant/applicants agree to make all payments through demand drafts/cash/cheques drawn upon and payable to Noida an amount of Rs./-</label>
<input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.payment_amount }} " readonly>
<label class="form-label">for the Plot No</label>
<input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.plot_number }} " readonly>
{% comment %} <label class="form-label"><strong>Address</strong></label>
<input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.plot_number }} " readonly> {% endcomment %}
<label class="form-label">buyer shall be debited/charged to allotte (s) account in case any cheque of installment is not honored by our bank and 1,000/- rupees will be charged as a transfer charge if applicant/applicants transfer their plot to any other name before registry.</label></div>
<p style="text-align: justify;;">14.	The external development charges for the external service to be provided by Uttar Pardesh Govt. In any, will be charged extra on prorate basis and laid down by the Uttar Pardesh Government and in case of any increase in these charges in future the same shall be paid by applicant and when demanded by the company.</p>
<p style="text-align: justify;;">15.	All the infrastructure development charges will be borne by the applicant only which will be paid by the applicant or and when the company demands.</p>
<p style="text-align: justify;;">16.	That the plot registry will after 15 days from the date of full AND final payment by the party/intending applicant. </p>
<p style="text-align: justify;;">17.	I shall be incumbent on applicant to company with the terms of sale. Filling which applicant/applicants shall have to pay interest 12% per annum of the delayed payments and the company can reserve its right to forfeit the earnest money in event of regular payment fulfillment of terms of payment and the allotment maybe cancelled at desecration of the company. If installment is not paid for two consecutive terms with interest the company can cancel the registration at its sole discretion.</p>
<p style="text-align: justify;;">18.	The company will charge @Rs. 300/Sq.yrd.as development charges for, electricity and roads from the applicant and if the development is not being done within the upper said period (36months) company will pay a simple interest of 12% to the applicant/applicants on the deposited amount. After offer of possession from the company applicant/applicants shall bear all maintenance charge and any other levies on account of the allotted unit. Booking amount is not refundable in any case.</p>
<p style="text-align: justify;;">19.	That the sale or lease deed or any other documents conveying the said land or unit shall be executed and got registered in favor of applicant after receipt from applicant full sales prier and other connected charges.</p>
<p style="text-align: justify;;">20.	Cost of stamp duty and registration charges etc. As applicable will be extra and shall be borne by applicant. All costs, charges and expensed in connection with the cost of documents requires to be executed by the company for preparation and approval of such documents shall be borne by applicants.</p>
<p style="text-align: justify;;">21.	All taxes or charges (On electricity, water conversion PLC, EDC, IDC, lease on land or building lived by any authority from the booking including the one time urban assessment/ ground rent/ charges of land use payable to the authority shall be borne and paid proportionately by applicant, free hold conversion charges, if applicable will also be borne and paid by the applicant.</p>
<p style="text-align: justify;;">22.	Applicant/applicants undertake to abide by all the laws, bylaws rules and regulations or any other law as may be made applicable to the said property Surajpur court  alone shall have jurisdiction in all matters arising out or/touching and/or concerning is transaction.</p>
<p style="text-align: justify;;">23.	Applicant/applicants shall get my address registered with the company as the time of booking and if shall be applicants responsibility to inform the company about all subsequent changes. If any in applicant address failing which all demand notice and letter posted at the failing which all demand notice and letter posted at the first registered will be demand to have been received address by applicant at the time which the should ordinal reach address and applicant shall be responsible for any default in payments and other consequences that might occur therefore.</p>
<div><label class="form-label">24.<strong> I</strong></label>
    <input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.name }} " readonly>
    <label class="form-label"><strong>S/o,D/o,W/o</strong></label>
    <input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.father_name }} " readonly>
    {% comment %} <label class="form-label"><strong>Address</strong></label>
    <input type= "text"  class="form-control" id="plotno" name="plot_no" value="{{ plot_no.plot_number }} " readonly> {% endcomment %}
    <label class="form-label">accept the above terms and conditions AND will abide to it AND company also make it clear to me that money once paid for the product land/plot AND other incidental charges are nonrefundable AND non adjustable under any circumstances whatsoever.</label></div>
    <p style="text-align: left;">Refrence Name</p>
<p style="text-align: left;"><strong>Witnesses</strong></p>

<p style="text-align: right;"><strong>First Party </strong></p>
<p style="text-align: right;"><strong>Shree Shayam Radhika  Home  Zone Pvt Ltd. <strong/></p>
<p style="text-align: right;"><strong>Add- office No 110, First floor ,<strong/></p>
<p style="text-align: right;"><strong> Near Sbi Bank  Metro Station  Sector – 59, Gali No. 2 Sector – 66   <strong/></p>
<p style="text-align: right;"><strong>Second Party<strong/></p>
</body>
</html>