{% extends "base.html" %}
{% block content %}


<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Rejected Kyc</a></li>
            </ol>
            From: <input type = "date"> To: <input type = "date"> 
        </div>
        <div class="col-xl-3 col-xxl-6 col-md-8 mb-3">
            <button type="submit" class="btn btn-primary">Show Date</button>
        </div>
                   
                    </div>
                </div>



{% endblock %}