{% extends "base.html" %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Update User Kyc</a></li>
            </ol>
        </div>
                   
                    </div>
                    <div class="mb-2 row mx-3 mx-4">
                        <label class="col-sm-2 col-form-label"><h4>Enter Plot No :</h4></label>
                        <div class="col-sm-3 ">
                            <input type="text" class="form-control" placeholder="Enter Plot No." >
                        </div>    
                       
                    <div class="col-xl-3 col-xxl-6 col-md-8 mb-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="content-body">
   
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Members Details</h4>
                   
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Sr.No.</th>
                                        <th scope="col">User Id</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">TXN Password</th>
                                        <th scope="col">Mobile No.</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Sponsor Id</th>
                                        <th scope="col">Sponsor Name</th>
                                        <th scope="col">Rank</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>340307</td>
                                        <td>Ram Gopal</td>
                                        <td>1998</td>
                                        <td>1990</td>
                                        <td>9678787678</td>
                                        <td>example@gmail.com</td>
                                        <td>878778</td>
                                        <td>Shree shyam Township</td>
                                        <td>12</td>
    
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>340307</td>
                                        <td>Ram Gopal</td>
                                        <td>1998</td>
                                        <td>1990</td>
                                        <td>9678787678</td>
                                        <td>example@gmail.com</td>
                                        <td>878778</td>
                                        <td>Shree shyam Township</td>
                                        <td>12</td>
    
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>340307</td>
                                        <td>Ram Gopal</td>
                                        <td>1998</td>
                                        <td>1990</td>
                                        <td>9678787678</td>
                                        <td>example@gmail.com</td>
                                        <td>878778</td>
                                        <td>Shree shyam Township</td>
                                        <td>12</td>
    
                                      </tr>
                                  </tbody>
                                
    
                              
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    
        </div>
    
    </div>
    {% endblock %}